name: ESLint

on:
  push:
    branches:
      - main  # Vous pouvez changer la branche ici si nécessaire
      - master
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Version de Node.js que vous utilisez

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint  # Assurez-vous que votre script "lint" est configuré dans package.json
